

#home{
    background-image: url(../images/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  background-position:center top;}
  

  .title{
    height: 5rem;
    margin-top: 15rem;
  }